html, body, div {
    padding: 0;
    border: 5px solid red;
    margin: 0;
    box-sizing: border-box;
}

#atf {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh;
    height: 100vh;
    background-image: url(nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

